.navbar {
  border-radius: 0px;
  height: 100vh;
  position: static;
  width: 40%;
  margin-bottom: 0 !important;
  background-color: #66baff !important;
  padding-left: 30px !important;
  .navbar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .sb-avatar {
      margin-top: 20px;
    }
    .link-section-wrapper {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      a {
          margin: 20px 0;
          &:hover {
            color: #b9dfff !important;
          }
      }
    }
    .navbar-brand {
      color: white !important;
    }
    h1, h2, h3, h4, h5, h6 {
      color: white !important;
    }
    a {
      text-decoration: none;
    }
  }
  .navbar-logout-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: center;
    h1, h2, h3, h4, h5, h6 {
      color: white !important;
    }
    .navbar-title {
      margin-bottom: 30px;
      font-size: 60px;
    }
  }
}